@(form: Form[Recipe])(implicit messages: Messages, request: Request[AnyContent])

@main("Login") {

    <div>
        <h2>Please fill in the form</h2>
    </div>

    <div>
        @helper.form(routes.RecipeController.editRecipeSubmit()){
            <input type="hidden" name="id" value="@form.data.get("id")" />

            @helper.inputText(form("title"), '_label -> "Title", '_showConstraints -> false)
            @helper.textarea(form("steps"), '_label -> "Steps", '_showConstraints -> false)


            <input type="hidden" name="username" value="@form.data.get("username")" />
            <input type="button" class="button" value="Back" onclick="history.back()">
            <button type="submit" class="button">Submit</button>
        }
    </div>

}
