@(recipes: List[Recipe])(implicit request: Request[AnyContent])

@main("Homepage") {

    <h1>@request.flash.get("login")</h1>

    @if(recipes.nonEmpty) {
        <h1>Recipes</h1>
    }
    @for(recipe <- recipes){
        <h3>Title: @recipe.title</h3>
        <h3>Username: @recipe.username</h3>
        <h3>Steps: @recipe.steps</h3>
        <form method="GET" action="/deleterecipe/@recipe.id.get">
            <button type="submit">Delete</button>
        </form>
        <form method="GET" action="/editrecipe/@recipe.id.get">
            <button type="submit">Edit</button>
        </form>
        <br>
    }

}
